/* Define CSS variables for consistent theming across the application */
:root {
  --primary-color: #8dc6fc;
  --primary-color-hover: #7ab0f9;
  --secondary-color: #f9a825;
  --alert-color: #f44336;
  --background-color: #123345;
  --page-background-color: #fff;
  --text-color: #333;
}

body {
  background-color: var(--page--background-color);
  color: var(--text-color);
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin:0;
}

/* utility classes */
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

/* page style */

main {
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
}

.container {
    background-color: #e1e1e0;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: solid 1px #ccc;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
    padding-left: 1rem;
}

.nav {
  justify-content: space-around;
  padding: 1rem;
  border-bottom: solid #333;
  position: relative;
}

.nav-link {
  background-color: white;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: padding 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: solid 5px black;
  width: 50px;
  height: 50px;
  text-indent: -9999em;
  padding:.25rem; 
}

#career{
  background-image: url(/imgs/Briefcase.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.line{
  height: 100px;
  border: 1px solid black;
  transform: rotate(90deg);
  margin-top: -25px;
}

#edu{
  background-image: url(/imgs/Education.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#hous{
  background-image: url(/imgs/housing.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#personal{
  background-image: url(/imgs/lifestyle.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#savings{
  background-image: url(/imgs/savings.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link:hover {
  color: var(--primary-color-hover);
}

.breadcrumbsLine {
  position: absolute;
  /* width: 33rem; not sure on what width measurement to use in order to have it adaptable */
  height: 10px;
  background-color: #333;
  /* Needs to be aligned in the center, not sure what to use in order to do so */
}

.categoryTitle {
  width: fit-content;
  border-bottom: solid #333;
}

.textButtons {
  margin: 10px;
  margin-left: 35px;
  justify-self: center;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}

.textButtons:hover {
  background-color: var(--primary-color-hover);
}

header {
  background-color: var(--background-color);
}

header img {
  width: 200px;
  padding:1.5rem;
  height: auto;
}

.container {
  background-color:#D9D9D9;
  margin-top:100px;
}

.textButtons {
  border-color: black;
  border-radius:7px;
  border:solid 3px black;
  
} 

.buttons {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items:center;
  place-content:center;
}
